Change Date/Time Presentation Format

2018-08-29 10:44 GMT+02:00 Mark Andrews <marka@isc.org>:
>
> Expiry Time:  Internet Date/Time Format from [RFC3339] Section 5.6
>               profile of ISO 8601
>
> Please don’t add yet another time format that it way too generic.
> See RRSIG for how to present the time.  Name servers already have
> code to parse this.
>
> e.g.
> YYYYMMDDHHMMSS in seconds since Jan 1, 1970 UTC ignoring leap seconds.
>
> Also the field doesn’t need to be 64 bits.  32 would be fine.  We
> really don’t need to support garbage collection +68 years in the
> future.  You can just reference the RRSIG which uses 32 bit time
> stamps.  Name servers do serial number arithmetic.


There is the internal packet representation which is currently specified as a 64-bit number containing the number of seconds since Jan 1, 1970 (unix epoch). A 64-bit version is used in order to avoid date problems in 2038 (reaches the 32-bit limit).

There is also a timeout display (human readable) representation that is just a standard ISO 8601 date format.

RFC 3339 says all new protocols should use this format.
It wasn't specified in the draft but there are two forms, basic notation and extended notation.

    basic: yyyymmddThhmmssZ
    extended: yyyy-mm-dd hh:mm:ss

It was my intention to require basic notation. However, we should look at RRSIG and see how that is defined.

Also, since the timeout is an absolute time, we don't really care about the relative time and 64-bit is needed for this to work past 2038. This seems like a long time from now but given what we know, it seems short sighted to try to optimize for 32-bits and create a confusing relative format that would be hard to persist. By using a single absolute expiry time, we avoid an absolute start time AND duration. Duration isn't enough to work across restarts.

After reading the RRSIG spec in RFC 4034, I'm not convinced that we should switch to the 32-bit representation of time. We know this will be a problem in the future and RRSIG will have to address this.

All modern 64 bit architectures use a model called LP64 which says that a `long` is 64 bits. This is what is returned from gettimeofday() for secs in a `struct timeval`.

See [LP64](http://www.unix.org/version2/whatsnew/lp64_wp.html)