Should record TTL in response be limited by TIMEOUT lifetime?

Paul Vixie comments:

you don't appear to have addressed TTL overrun here. it's necessary for a record which will expire to have a declining TTL as that expiry time nears. if it's always been 3600, then when you're within one hour of expiry time, returned TTL has to be reduced to whatever time remains.
 
Also, Paul Vixie comments:

The ttl which must decline is that of the expiring record (or its rrset, due to atomicity), and not that of the TIMEOUT RR itself. you cannot hand out an AAAA or PTR (or in the degenerate case, an A RR) with a TTL of 3600 if it is due to expire in 600 seconds. that RR has to have its TTL adjusted during its final authority-TTL interval so that noone has it in cache beyond the time of its death by expiry.

Mark Andrews comments:

That’s one way of doing it.  Given the DNS is loosely coherent I really
would just leave it as the time the record is removed from the zone and
not play TTL games which require every server for the zone to support
the extension.  If you are worried about records being in the cache too
long use a smaller TTL from the start.

Paul Vixie responds:

that may be nec'y given that this is not a deferred update mechanism, which is what led in 1996 to the half-life auto-update for propagation.

How about letting the server MIGHT do that? Personally, I think Paul has a point and currently I see no counter-argument of allowing this to happen. (Marks concern that this would require every server for the zone to support this extension is eliminated by not strictly requiring this functionality.)

What do you think @pusateri?

It is possible for each component of a TIMEOUT RR to be based on a collection of RRs with different TTLs. The TTL of the TIMEOUT RR should be set to the minimum of the TTLs the RRs it's based on.

However, given the rare cases in which a TIMEOUT RR is queried, I don't see this as a general problem to be concerned about. It will almost never happen.

Just to make sure we‘re talking about the same thing: I wasn’t addressing the TTL of the TIMEOUT RR itself, but the TTL of the RR which is referenced by a TIMEOUT instance.

Example:
```
www 3600 IN AAAA 2001:db8::1
www 3600 IN TIMEOUT 0 0 2019-02-20T16:30+00:00
```
From 2019-02-20T15:30+00:00 onwards the TTL of the AAAA RR would be adjusted on each request to match the time until the expiry time.

RFC 1035 Section 3.3.13 last paragraph:

However, MINIMUM is used in all query operations that retrieve RRs from a zone.  Whenever a RR is sent in a response to a query, the TTL field is set to the maximum of the TTL field from the RR and the MINIMUM field in the appropriate SOA.  Thus MINIMUM is a lower bound on the TTL field for all RRs in a zone.

In order to reduce the TTL of the AAAA record, we would have to change RFC 1035.

The TIMEOUT RR is mostly for the benefit of the authoritative server to know when to remove the RR. The fact that it might live longer in the cache of a resolver is ok I think.

Thanks for providing the reference to the paragraph in RFC 1035!

> The TIMEOUT RR is mostly for the benefit of the authoritative server to know when to remove the RR. The fact that it might live longer in the cache of a resolver is ok I think.

Ok 👍 I think we could add some words along these lines (probably in the Introduction), just to make this clear for the reader as well...