Hashing names in RDATA

Section 4.5 discusses names in RDATA should be uncompressed before hashing. Mark Andrews (ISC) suggests the following language instead:  "The record MUST be in canonical DNSSEC form ([RFC4034] Section 6)."